/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-200 text-gray-800;
}

* {
  box-sizing: border-box;
}

.link-light {
  @apply no-underline hover:underline;
}

.link-dark {
  @apply text-blue-300 no-underline hover:underline hover:text-blue-500;
}
