/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-200 text-gray-800;
}

* {
  box-sizing: border-box;
}

.link-light {
  @apply no-underline hover:underline;
}

.link-dark {
  @apply text-blue-300 no-underline hover:underline hover:text-blue-500;
}

input[type="text"] {
  @apply bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500;
}

select {
  @apply bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500;
}

.f_safari {
  height: 100vh;
}

/* Fixes mobile safari: https://stackoverflow.com/questions/16348489/is-there-a-css-hack-for-safari-only-not-chrome */
_::-webkit-full-page-media,
_:future,
:root .f_safari {
  height: -webkit-fill-available;
}
